.post-password-message {
  padding-top: var(--global--spacing-vertical) !important; 
  
  @include media(wide) {
      padding-top: calc(2 * var(--global--spacing-vertical)) !important;      
  }
}

.post-password-form__submit {
  background-color: var(--vv--color-green) !important;
  border-color: var(--vv--color-green) !important;
  color: white !important;

  &:hover {
    color: var(--vv--color-yellow) !important;
    border-color: var(--vv--color-green) !important;
  }
}
